#style-switcher h2 a { background: #15191C none repeat scroll 0 0 }

/*START SCROLL TO TOP*/
.topcontrol {background: #31aaba none repeat scroll 0 0;}
/*END SCROLL TO TOP*/

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #03a9f4 !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #03a9f4 !important;
    background-color: transparent;
}

.menu-top li a:hover { color: #03a9f4!important }

.navbar-default.menu-shrink li a:hover { color: #03a9f4 !important }
.navbar-default .navbar-toggle .icon-bar { background-color: #31aaba }


.section-title span {background: #31aaba none repeat scroll 0 0;}

.btn-home-bg {background: #31aaba none repeat scroll 0 0;border: 2px solid #31aaba;}

.about_single i {background: #31aaba;border: 2px solid #31aaba;}

.about_single:hover i {color: #31aaba;border: 2px solid #31aaba;}

.about_single span {background: #31aaba none repeat scroll 0 0;}

.about_single:hover h4 { color: #31aaba }

.single_feature i {background: #31aaba none repeat scroll 0 0;}

.single_feature:hover {background: #31aaba none repeat scroll 0 0;}

.single_feature:hover i {color: #31aaba;}

.service:hover {background: #31aaba;border: 2px solid #31aaba;}

.service:hover .icon {color: #31aaba;}

.our_work_menu ul li:hover,
.our_work_menu ul li.active {background: #31aaba none repeat scroll 0 0;border-color: #31aaba;}

.sing_link_img a:hover {background: #31aaba;}

.single_our_work:hover {background: #31aaba;}

.btn-portfolio-bg {background: #31aaba none repeat scroll 0 0;}

.carousel-indicators li {border: 1px solid #31aaba;background: #31aaba;}

.counter i {background: #31aaba none repeat scroll 0 0;border: 2px solid #31aaba;}

.counter:hover i{background:none;color: #31aaba;border:2px solid #31aaba}

.social > li:after {background: #31aaba none repeat scroll 0 0;}

.team_text ul.social li a i:hover {border-color: #e8e8e9;background: #31aaba;}

.social > li:hover:after { background: #31aaba }

.progress-bar > span {background: #31aaba none repeat scroll 0 0;}

.pricing-table-default:hover{ background: #31aaba;}

.pricing-head .price {background-color: #31aaba;}

.pricing-table-default:hover .price{color: #31aaba;}

.pricing-table-default:hover .btn{color: #31aaba;}

.blog-text i { color: #31aaba }

.blog-text span {color: #31aaba;}

.btn-blog-bg:hover{border: 1px solid #31aaba;color: #31aaba;}

.form-control:focus {border: 1px solid #31aaba;}

.btn-contact-bg {background: #31aaba none repeat scroll 0 0;}

.contact-address {background: #31aaba none repeat scroll 0 0;}

.copyright a {color: #31aaba;}